<div class = "about-page">
  <h1 class = "about-title">About Whiteboard</h1>
  <br />
  <p>Whiteboard is a To Do List app that allows a user to create a to do list, add items to the list, then check them off as they're completed. It is run on Ruby on Rails with styling from Twitter Bootstrap 3.</p><br/>

  <p>Whiteboard was built by <a target = "_blank" href = "https://github.com/rololobo/">Rosie Highsmith</a>, a developer in San Diego, CA.
  </p>
  <br />
  <img src = "assets/twitter.jpg" height = "170px" />
</div>